<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.B07Planetze"
        tools:targetApi="31">

        <activity
            android:name="com.example.B07Planetze.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.B07Planetze.HomeScreenActivity"
            android:exported="true" />


        <activity
            android:name="com.example.B07Planetze.CreateAccountActivity"
            android:exported="true" />

        <activity
            android:name="com.example.B07Planetze.PasswordResetActivity"
            android:exported="true" />


        <!-- EcoAgent Activity -->
        <activity
            android:name="com.example.B07Planetze.EcoAgentActivity"
            android:exported="true"
            android:label="@string/title_activity_eco_agent"
            android:theme="@style/Theme.B07Planetze" />


        <!-- EcoBalance Activity -->
        <activity
            android:name="com.example.B07Planetze.EcoBalanceActivity"
            android:exported="true"
            android:label="@string/title_activity_eco_balance"
            android:theme="@style/Theme.B07Planetze" />


        <!-- EcoGauge Activity -->
        <activity
            android:name="com.example.B07Planetze.EcoGaugeActivity"
            android:exported="true"
            android:label="@string/title_activity_eco_gauge"
            android:theme="@style/Theme.B07Planetze" />


        <!-- EcoHub Activity -->
        <activity
            android:name="com.example.B07Planetze.EcoHubActivity"
            android:exported="true"
            android:label="@string/title_activity_eco_hub"
            android:theme="@style/Theme.B07Planetze" />


        <!-- EcoTracker Activity -->
        <activity
            android:name="com.example.B07Planetze.EcoTrackerActivity"
            android:exported="true"
            android:label="@string/title_activity_eco_tracker"
            android:theme="@style/Theme.B07Planetze" />

        <!-- AnnualCarbonFootprint Activity -->
        <activity
            android:name="com.example.B07Planetze.AnnualCarbonFootprintActivity"
            android:exported="true"
            android:theme="@style/Theme.B07Planetze" />


        <!-- Other Activities -->

    </application>
</manifest>